body {
    background: #eee;
    margin: 25px;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
.header {
    background-color: #9370DB; /* Mauve background color for the header */
    color: white; /* White text color */
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}




form {
    margin-bottom: 20px;
}

form input, form button {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #6b426b;
}

th {
    background-color: #9370DB; /* light mauve */
    color: white;
}

tr:hover {
    background-color: #D8BFD8; /* very light mauve */
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #9370DB; /* light mauve */
    cursor: pointer;
    text-decoration: none;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #8A2BE2; /* medium purple */
}
